<!DOCTYPE html>
<html>
    <head>
        <title>Asso</title>
    </head>
    
    <body>
    <h1> Mallas</h1>
    <%= @malla.name %>
    <% @malla.semesters.each do |sem| %>
        <h3>Semestre No.<%= sem.number %></h3>
        <br>
        <% sem.subjects.each do |subj| %>
            <p>Materia: <%= subj.name %></p>
            <p>Créditos: <%= subj.credits %></p>
            <br>
        <% end %>
    <% end %>
    </body>
</html>